name: ci

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.0"
          - 3.1
          - 3.2
        deps:
          - rails_61
          - rails_70
    steps:
      - uses: actions/checkout@v4
      - name: Configure bundler (default)
        run: |
          echo "BUNDLE_GEMFILE=Gemfile" >> "$GITHUB_ENV"
        if: matrix.deps == 'rails_70'
      - name: Configure bundler (alternative)
        run: |
          echo "BUNDLE_GEMFILE=gemfiles/${{ matrix.deps }}/Gemfile" >> "$GITHUB_ENV"
        if: matrix.deps != 'rails_70'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        env:
          COVERAGE: true
        run: bundle exec rspec
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage
          if-no-files-found: error

  upload_coverage:
    name: Upload Coverage
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        with:
          name: coverage
          path: coverage
      - uses: codecov/codecov-action@v3
        with:
          directory: coverage
          fail_ci_if_error: true
