---

name: ci

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-20.04

    timeout-minutes: 15

    strategy:
      fail-fast: false

      matrix:
        ruby: [2.5.8, 2.6.6, 2.7.2, 3.0.0, jruby-9.2.11.1]

    env:
      BUNDLE_PATH: vendor/bundle

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler: none

      - name: Install a specific rubygems version
        run: gem update --system 3.2.0.rc.1

      - name: Install a specific bundler version
        run: gem install bundler -v 2.1.4

      - name: Restore cached dependencies
        uses: actions/cache@v2
        with:
          path: ${{ env.BUNDLE_PATH }}
          key: gems-${{ matrix.ruby }}-${{ hashFiles('current_gemfile.lock') }}

      - name: Install dependencies
        run: bundle install --jobs 3

      - name: Run tests
        run: bundle exec rake
